[MASTER]
ignore=.venv

[MESSAGES CONTROL]
disable=
    no-member,
    line-too-long,
    too-few-public-methods,
    broad-exception-caught,
    duplicate-code,
    import-error,
    inconsistent-return-statements

[FORMAT]
max-line-length=100